<!doctype html>

<html>

<head>
    <title>Survey</title>

    <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous"> -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/sandstone/bootstrap.min.css" rel="stylesheet" integrity="sha384-ABdnjefqVzESm+f9z9hcqx2cvwvDNjfrwfW5Le9138qHCMGlNmWawyn/tt4jR4ba" crossorigin="anonymous"> -->
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/litera/bootstrap.min.css" rel="stylesheet" integrity="sha384-pLgJ8jZ4aoPja/9zBSujjzs7QbkTKvKw1+zfKuumQF9U+TH3xv09UUsRI52fS+A6" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/> -->

    <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"> -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> -->
    <!-- <script src="https://surveyjs.azureedge.net/1.1.31/survey.jquery.min.js"></script> -->
    <script 
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous">
    </script>
    <script src="https://unpkg.com/survey-jquery"></script>
    <!-- <link href="https://surveyjs.azureedge.net/1.1.31/modern.css" type="text/css" rel="stylesheet"/> -->
    
    <!-- <link rel="stylesheet" href="./pure-css-checkbox.css"> -->

    <script src="https://unpkg.com/icheck@1.0.2"></script>
    <link rel="stylesheet" href="https://unpkg.com/icheck@1.0.2/skins/square/blue.css">

    <!-- <link rel="stylesheet" href="https://unpkg.com/icheck@1.0.2/skins/square/blue.css"> -->

    <script src="https://surveyjs.azureedge.net/1.1.31/surveyjs-widgets.js"></script>

    <link rel="stylesheet" href="index.css">

</head>

<body>
    <div id="surveyElement"></div>
    <div id="surveyResult"></div>

    <script>
        var survey_name = "{{survey}}";
        var json_file = "surveys/{{survey}}";
    </script>
    <script type="text/javascript" src="index.js"></script>

</body>

</html>